@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*                                                  For Recovery Page */
.RecoverPassContainer{
    height: 100vh;
    width: 100%;
    background: url("Assets/pendulor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RecoveryForm{
    background-color: #F1FDFE;
    height: 80%;
    width: 37%;
    padding: 6rem 6.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 20px  18px rgba(0,0,0,0.30);
}

.RecoveryForm h2{
    font-weight: 700;
    color: #032032;
}

.Message, .ResendConfirmation{
    margin-top: 1.3rem;
    color: rgb(69,93,107);
}

.EmailMessage{
    display: inline-block;
}

#ResendEmail{
    text-decoration: none;
    color: #0D97B1;
}

.EmailConfirmationForm{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    color: rgb(69,93,107);
}

.headingInput{
    font-size: 13px;
    font-weight: 700;
}

.EmailConfirmationForm input{
    margin-top: 0.25rem;
    border: 2px solid rgba(69,93,107,0.5);
    color: rgb(69,93,107);
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 16px;
}


.submit{
    margin-top: 2rem;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #FFB648;
    cursor:pointer;
    border: none;
}

.KnowPassword{
    margin-top: 0.5rem;
    color: rgb(69,93,107);
    font-size: 13px;
}

.setLogin{
    text-decoration: none;
    color: #0D97B1;

}

.submit:hover{
    background-color: #f8a01d;
    transition: 0.7s ease-out background-color;
}


.LogoPlacer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.LogoPlacer img{
    width: 35px;
    margin: 8px;
}

.WhisperText{
    color: #ff9a01;
    margin: 8px 8px 8px 0 ;
}

.UETText{
    font-weight: 700;
    color: #0D97B1;
}

/*                                           For Login Page                 */

.LoginContainer{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
}

.leftLogin{
    width: 80%;
    display: flex;
    padding: 2rem 12rem;
    justify-content: left;
    flex-direction: column;
}

.rightLogin{
    width: 40%;
    background-color: #94D4E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightLogin img{
    
    width: 200%;
    position: relative;
    right: 40%;
}

.loginLogo{
    justify-content: left;
    font-size: 3rem;
}

.loginLogo img{
    width: 40px;
}

.loginContent{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.loginHeading{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: #455D6B;
}

.loginHeading img{
    width: 5%;
    margin-right: 10px;
}

.LoginForm input{
    width: 55%;
}

.LoginForm .submit{
    width: 55%;
}

.passwordText{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.passwordText a{
    text-decoration: none;
    font-size: 0.85rem;
    color: #0D97B1;
    margin-top: 10px;
}


/*                                           For Sign Up Page                 */
.SignUpContainer{
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}


.rightSign{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSign img{
    width: 80%;
}


.leftSign{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
    background-color: #94D4E0;
}

.SignHeading img{
    width: 10%;
}

.PasswordConfirmation{
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 3%;
}

.PasswordConfirmation input{
    width: 20px;
    height: 20px;
}

.SignForm > p{
    margin-top: 1.5rem;
}

.PasswordConfirmation p{
    margin-left: 5px;
    margin-top: 4px;
}


@media screen and (max-width: 1530px) {
    .RecoveryForm{
        padding: 6rem 4.5rem;
    }
}

@media screen and (max-width: 1400px) {

    .LoginForm input {
        width: 70%;
    }

    .LoginForm .submit {
        width: 70%;
    }
}

@media screen and (max-width: 1150px) {

    .rightLogin {
        display: none;
    }

    .leftLogin {
        align-items: center;
        width: 100%;
    }

    .LoginForm input {
        width: 100%;
    }

    .LoginForm .submit {
        width: 100%;
    }

    .loginContent {
        justify-content: center;
    }

    .LoginContainer{
        align-items: center;
    }
}


@media screen and (max-width: 1350px) {

    .LogoPlacer {
        margin-top: 1em;
    }

    .RecoveryForm{
        width: 45%;
        padding-top: 4.5rem;
    }
}

@media screen and (max-width: 1300px) {

    .rightSign {
        width: 50%;
    }

    .leftSign{
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .rightSign {
        width: 40%;
    }

    .leftSign{
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {

    .RecoveryForm{
        width: 55%;
    }
}

@media screen and (max-width: 900px) {
    .rightSign {
        display: none;
    }

    .leftSign{
        width: 100%;
    }
}

@media screen and (max-width: 850px) {

    .loginLogo img {
        width: 30px;
    }

    .loginLogo{
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {

    .RecoveryForm{
        width: 65%;
    }
}

@media screen and (max-width: 700px) {

    .LoginForm input {
        width: 90%;
    }

    .LoginForm .submit {
        width: 90%;
    }

    .leftLogin{padding: 2rem 6rem;}
}

@media screen and (max-width: 670px) {

    .RecoveryForm{
        width: 75%;
    }
}

@media screen and (max-width: 585px) {

    .RecoveryForm{
        width: 85%;
    }
}

@media screen and (max-width: 540px) {

    .leftSign{
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 500px) {

    .RecoveryForm{
        padding-top: 3rem;
        width: 95%;
    }

    .LogoPlacer img {
        width: 25px;
    }

    .LogoPlacer {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 440px) {

    .leftSign{
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 415px) {

    .RecoveryForm h2 {
        font-size: 1.2em;
    }

    .ResendConfirmation{
        margin-top: 0.3rem;
    }

    .Message, .ResendConfirmation {
        font-size: 0.85em;
    }

    .RecoveryForm {
        padding: 6rem 3rem;
    }

    .leftLogin{padding: 2rem 3rem;}
}

@media screen and (max-width: 415px) {

    

    .RecoveryForm {
        padding: 5rem 3rem;
    }

    .RecoverPassContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 365px) {

    .leftSign{
        padding: 2rem 1rem;
    }

    .loginLogo{
        display: flex;
        justify-content: center;
    }
}
