@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color:#f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_password_form_container{
    background-color: #ffffff;
    height: 80%;
    width: 37%;
    padding: 6rem 6.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.30);
}

.change_password_form_container h2{
    font-weight: 700;
    color: #032032;
}

.the_actual_form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    color: rgb(69,93,107);
}

.headingInput{
    font-size: 13px;
    font-weight: 700;
}

.the_actual_form input{
    margin-top: 0.25rem;
    border: 2px solid rgba(69,93,107,0.5);
    color: rgb(69,93,107);
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 16px;
}

.submit.cancel, .submit.change {
    margin-top: 2rem;
    padding: 0.75rem;
    border-radius: 1.2rem;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor:pointer;
    border: none;
    flex-grow: 1;
}

.submit.change{
    margin-left: 0.5rem;
    background-color: #0d97b1;    
}

.button_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

.submit.cancel{
    background-color: #f7c375;
}



